@import url('https://fonts.googleapis.com/css?family=Railway:100,200,300,400,500,600,700');

.uppercase {
    text-transform: uppercase;
}

body {
    font-family: "Railway", sans-serif;
}

/*------- navbar ---------------*/

.logo {
    background: url("../assets/logo/gaLOGO.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 130px;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-image: linear-gradient(to bottom right, #09FF00, #00FF77);
    border: 0;
}

.navbar .navbar-toggler {
    border: 9px solid;

}

.navbar .nav a {
    font-weight: lighter;
    color: #fafafa;

}

nav div p {
    color: #fafafa;
}

/*------- callout ---------------*/

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: #fafafa;
    margin: 25px 35px;
}

.blockquote {
    font-style: italic;
    font-family: "sans-serif";
    color: #fafafa;
    font-size: 90%;
    margin: 10px 10px;
}

@media (max-width:767px) {
    .blockquote {
        margin: 0px 40px 40px 40px;
        padding: 0px 40px 40px 40px;
    }
}

.btn-primary {
    margin-bottom: 25px;
}

.block-divider--white {
    width: 400px;
    height: 1px;
    border: 0;
    background-color: #a1a1a1;
}

.block-divider {
    width: 75px;
    height: 10px;
    border: 0;
    background-image: linear-gradient(to bottom right, #09FF00, #00FF77);
    margin-bottom: 45px;
}

.callout-container {
    height: 100vh;
    background: url("../assets/logo/green1-bg.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cointainer-callout-1 {
    height: 100vh;
    background: url("../assets/logo/green-bg.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cointainer-callout-2 {
    height: 100vh;
    background: url("../assets/logo/green2-bg.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cointainer-callout-3 {
    height: 100vh;
    background: url("../assets/logo/green3-bg.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}



/*------- about ---------------*/

.about {
    text-align: center;
    display: block;
}

.homelogo {
    padding: 55px;
    height: auto;
    max-width: 400px;
}

.about p {
    margin: 0px 90px 90px 90px;
}

@media (max-width:767px) {
    .about p {
        margin: 0px 40px 40px 40px;
    }
}

.title {
    margin: 50px 0px 5px 0px;
}

.title2 {
    margin: 10px 0px 5px 0px;
    display: block;
    color: #fafafa;
}

.title3 {
    margin: 50px 150px 10px 150px;
    color: #fafafa;
}

.icon {
    text-align: right;
    margin: 25px 0px 25px 25px;
}

@media (max-width:767px) {
    .icon {
        text-align: center;
        margin: 15px 0px 15px 0px;
    }
}

.ideas {
    text-align: left;
    margin: 25px 0px 25px 0px;
}

@media (max-width:767px) {
    .ideas {
        text-align: center;
        margin: 15px 0px 15px 0px;
    }
}



/*-----------------------home quotes ---------------*/

.quotes-cointainer {
    margin: 50px 55px;
}

.home-quotes {
    margin: 25px 25px 25px 10px;
    font-style: italic;
    font-family: "sans-serif";
}

.quote-media {
    margin-left: 50px;
}


/*-----------------------footer*/

footer {
    font-family: "Railway", sans-serif;
    background-image: linear-gradient(to bottom right, #00F070, #08F000);
    color: #fafafa;
    min-height: 150px;
    margin: 0;
}

.get-inspired {
    text-align: center;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 25px;
}

.more {
    text-align: left;
    font-weight: lighter;
    font-size: 15px;
    margin: 25px 0px 15px 0px;
    display: inline;
}


.video {
    max-width: 280;
    max-height: 157;
    margin: 20px;
    border: solid 10px white;
}

.social-links {
    display: inline-block;
    padding: 15px 30px 15px 0px;
}


.facebook {
    display: inline-block;
    width: 52px;
    height: 52px;
    background-image: url("../assets/logo/social1.jpg");
    padding: 12px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 1;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.download {
    display: inline-block;
    width: 52px;
    height: 52px;
    background-image: url("../assets/logo/social2.jpg");
    padding: 12px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 1;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.instagram {
    display: inline-block;
    width: 52px;
    height: 52px;
    background-image: url("../assets/logo/social3.jpg");
    padding: 12px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 1;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #27a844;
}
